* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    background-image: url("/back_img.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgb(60, 116, 183);
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.gif {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.gif::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/star.gif");
    background-size: 25% auto;
    background-repeat: repeat;
    background-position: top center;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}

.gif-content {
    position: relative;
    z-index: 1;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.ibm-plex-sans-kr-medium {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* outlet */
.main-content {
    flex: 1;
    padding-top: 160px;
    margin: auto;
}

/* -------components-------- */
/* header */
h1 {
    width: 80px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
h1 img {
    width: 60px;
    height: 60px;
}
.title01,
.title02 {
    color: rgb(236, 246, 255);
    font-size: 28px;
    position: absolute;
    top: 0px;
    left: 60px;
    width: 120px;
    text-align: center;
}
.title02 {
    font-size: 20px;
    font-weight: 300;
    top: 30px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    padding: 20px 0;
}

.header-box {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-box i {
    color: white;
    position: absolute;
    right: 16px;
    display: none;
}

.header h1 {
    margin-left: 20px;
    color: white;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    margin: 0 20px;
}

/* 링크 스타일 */
nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #9aa1b9;
}

.header nav ul li {
    position: relative;
}

.header nav ul li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #ff1493; /* 네온 핑크 색상 */
    box-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493, 0 0 15px #ff1493,
        0 0 20px #ff1493;
    animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header nav ul li.active a {
    color: #ff1493; /* 활성 메뉴 항목의 텍스트 색상 변경 */
}

/* footer */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.footer-box {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 0;
}
.footer-text {
    margin: 2rem 0;
    display: flex;
    gap: 3rem;
}

/*  story btn card  */

.story-card-box {
    background-color: rgba(255, 255, 255, 0.6);
}
.story-card-box h4 {
    font-size: 24px;
}
.story-card-box:hover .story-card-box img {
    transform: scale(2.05) rotate(30deg); /* 확대 및 회전 효과 */
}
.story-card-box:hover {
    transform: scale(1.1) rotate(-3deg);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
}

.story-card,
.story-btn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}
.btn-card-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}
.btn-card-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
h4 {
    margin: 1rem 0;
    font-size: 28px;
}
.go-story-btn {
    padding: 1rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 150px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
}
.go-story-btn:hover {
    background-color: #9aa1b9;
}

/* -------page------- */
/* home */
.home01 {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 80px;
}
.home02 {
    background-color: rgba(75, 75, 75, 0.6);
    /* background-color: rgba(255, 255, 255, 0.6); */
    margin: 1080px 0;
    padding: 6rem;
    color: white;
}
.back-gif {
    position: absolute;
    overflow: hidden;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
}
.back-gif img {
    width: 300px;
}

/* -- swiper -- */
.swiper {
    margin-top: 70px;
    max-width: 1440px;
}

.mySwiper {
    width: 100%;
    padding: 50px;
}

.swiper-slide {
    padding: 1rem 0;
    background-position: center;
    background-size: cover;
    width: 200px; /* 슬라이드의 너비 설정 */
    height: 600px; /* 슬라이드의 높이 설정 */
    background-color: transparent;
}

.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.5; /* 양 옆 슬라이드의 투명도 조절 */
}

.slide-box {
    margin: auto;
    width: 100%; /* 부모 요소의 80%로 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 800px;
    font-size: 24px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thumbnail {
    width: 100%;
    height: 66%;
    overflow: hidden;
    transition: transform 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.thumbnail img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease; /* 부드러운 전환 효과 추가 */
}

/* Hover 효과 */
.slide-box:hover .thumbnail {
    transform: scale(1.05) rotate(3deg); /* 확대 및 회전 효과 */
}

.slide-box:hover .thumbnail img {
    transform: scale(1.1) rotate(-3deg); /* 이미지 확대 및 반대 방향 회전 */
}
h3 {
    padding: 1rem 0;
    margin-bottom: 10px;
    color: white;
}
.swiper-btn {
    padding: 1rem;
    width: 150px;
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.5);
}

/* -- story button -- */
.story-button {
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

/* new story page */
.new-story-page {
    max-width: 1440px;
    margin: auto;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 카드 */
    gap: 3rem; /* 카드 간의 간격 */
}

.card-wrapper {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card-wrapper.animate {
    opacity: 1;
    transform: translateY(0);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.story-card-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

.story-card-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* 반응형 */
@media (max-width: 1080px) {
    .story-grid {
        grid-template-columns: repeat(2, 1fr); /* 한 줄에 3개의 카드 */
    }
}

@media (max-width: 650px) {
    .story-grid {
        grid-template-columns: repeat(1, 1fr); /* 한 줄에 3개의 카드 */
    }
    .story-button {
        flex-direction: column;
    }
    .slide-box {
        width: 90%; /* 부모 요소의 80%로 설정 */
    }
    .header-box i {
        display: block;
        cursor: pointer;
    }
    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    nav.show-menu {
        display: block;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
}
